[submodule "svreal"]
	path = svreal
	url = ssh://git@bitbucket.vih.infineon.com:7999/inicio/svreal.git
[submodule "msdsl"]
	path = msdsl
	url = ssh://git@bitbucket.vih.infineon.com:7999/inicio/msdsl.git